@model IEnumerable<Entity.ViewModel.NoticeInfoVM>
<header id="rs-header-2" class="rs-header-2">
    <!-- Menu Start -->
    <div class="menu-area menu-sticky">
        <div class="container">
            <div class="row rs-vertical-middle">
                <div class="col-lg-3 col-md-12">
                    <div class="logo-area">
                        <a href=""><img src="" alt="logo"></a>
                    </div>
                </div>
                <div class="col-lg-9 col-md-12 relative">
                    <div class="main-menu">
                        <a class="rs-menu-toggle"><i class="fa fa-bars"></i>Menu</a>
                        <nav class="rs-menu">
                            <ul class="nav-menu">
                                <!-- Home -->
                                <li class="menu-item-has-children">
                                    <a href="#" class="home">Home</a>

                                </li>
                                <!-- End Home -->
                                <!--About Menu Start-->
                                <li class="current-menu-item current_page_item menu-item-has-children">
                                    <a href="">About Us</a>

                                </li>
                                <!--About Menu End-->
                                <!-- Drop Down -->
                                <!--End Icons -->
                                <!--Courses Menu Start-->
                                <li class="menu-item-has-children">
                                    <a href="#">Courses</a>

                                </li>
                                <!--Courses Menu End-->
                                <!--Events Menu Start-->
                                <li class="menu-item-has-children">
                                    <a href="#">Events</a>
                                    <ul class="sub-menu">
                                        <li><a href="events.html">Events</a></li>
                                        <li><a href="events-details.html">Events Details</a></li>
                                    </ul>
                                </li>
                                <!--Events Menu End-->
                                <!--blog Menu Start-->
                                <li class="menu-item-has-children">
                                    <a href="#">Blog</a>
                                    <ul class="sub-menu">
                                        <li><a href="blog.html">Blog</a></li>
                                        <li><a href="blog-details.html">Blog Details</a></li>
                                    </ul>
                                </li>
                                <!--blog Menu End-->
                                <!--Contact Menu Start-->
                                <li> <a href="contact.html">Contact</a></li>
                                <li class="menu-item-has-children">
                                    <a href="#" class="dashboardslider">dashboardslider</a>

                                </li>
                                <li>
                                    class="menu-item-has-children">
                                    <a href="#" class="noticeinfo">Noticeinfo</a>

                                </li>
                                <!--Contact Menu End-->
                            </ul>
                        </nav>
                    </div>
                    <div class="searce-box">
                        <a class="rs-search" data-target=".search-modal" data-toggle="modal" href="#"><i class="fa fa-search"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Menu End -->
</header>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
@section LocalScript {
    <script>$(document).ready(function () {
            // Event listener for clicking on a notice
            $(".noticeinfo").on("click", function () {
                // Retrieve the data from the clicked element
                var noticeTitle = $(this).data("title");
                var noticeContent = $(this).data("content");

                // Display SweetAlert popup with notice information
                Swal.fire({
                    title: noticeTitle,
                    text: noticeContent,
                    icon: 'info',  // You can change this to 'success', 'error', etc.
                    confirmButtonText: 'Close'
                });
            });
        });</script>
}

<!-- SweetAlert: The popup will be triggered automatically on page load -->
